@media (max-width: 1680px) {

    #solutions div p:first-child {
        padding-top: 41%;
    }

    #solutions div p:last-child {
        padding-top: 12%;
    }

    #services ul {
        padding-top: 17%;
    }

    #benefits .col-benefits-2 {
        padding-left: 0.7%;
    }

    #benefits .col-md-3 {
        padding-top: 32.3%;
        width: 27.7%;
    }

    #benefits .col-benefits-1 {
        margin-left: 12.5%;
    }

    #benefits .col-benefits-2 {
        padding-left: 0.5%;
    }

    #benefits .col-benefits-3 {
        padding-left: 0;
    }

    #benefits p.blue,
    #benefits p.green,
    #benefits p.orange{
        font-size: 16px;
    }

    #benefits p.gray {
        font-size: 14px;
    }

    #structures p.gray#title {
        padding-top: 8%;
    }

    #structures .col-md-3 {
        padding-top: 19.5%;
    }

    #structures p.green {
        font-size: 18px
    }

    #structures p.gray {
        font-size: 15px
    }

    #footer {
        padding-top: 3.7%;
    }

}