@media (max-width: 720px) {

    .navbar-custom {
        width: 100%;
        height: 50px;
        margin-left: 0;
    }
        .navbar-custom ul {
            padding-left: 22px;
        }
        .navbar-custom li {
            padding-top: 14px;
            padding-bottom: 18px;
        }
        .navbar-custom li a {
            font-size: 11px;
        }


    #solutions .col-xs-offset-6 {
        margin-left: 45%;
    }

    #solutions div p:first-child {
        padding-top: 5%;
    }

    #services ul {
        padding-top: 19%;
    }

    #services li.services:before {
        width: 14px;
        height: 14px;
    }

    #services li {
        font-size: 11px;
    }

    #benefits .col-md-3 {
        padding-top: 36%;
    }

    #benefits .col-benefits-1,
    #benefits .col-benefits-2,
    #benefits .col-benefits-3 {
        width: 28%;
    }

    #benefits p.blue,
    #benefits p.green,
    #benefits p.orange {
        font-size: 10px;
        margin-bottom: 1px;
    }

    #benefits p.gray {
        font-size: 8px;
        margin-bottom: 1px;
    }

    #benefits .col-benefits-1 {
        margin-left: 11.5%;
    }

    #benefits .col-benefits-2 {
        padding-left: 1.5%;
    }

    #benefits .col-benefits-3 {
        margin: 0;
        padding-left: 0.8%;
    }

    #structures p.gray#title {
        padding-top: 8.3%;
        font-size: 26px;
    }

    #structures .col-md-3 {
        padding-top: 16.5%;
        padding-left: 4%;
    }

    #structures p.green {
        font-size: 10px;
    }

    #structures p.gray {
        font-size: 8px;
    }

}
